.app {
  text-align: center;
  margin :50px, auto 0;
}
.traffic-light{
  width:150px;
  height:400px;
  margin:auto;
  padding: 10px 0;
  border:5px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  background-color: black;

}
.light{
  width: 92px;
  height: 92px;
  border-radius:50%;
  transition:opacity 0.5 ease-in-out ;
  opacity:0.5;
}
.red{
  background-color: red;

}
.yellow{
  background-color: yellow;

}
.green{
  background-color: green;

}
 
.light.active{
opacity:1;
box-shadow: 0 0 10px 10px #fff;
}





